body{
    background-image: url("../assets/background.jpg");
    background-size: cover;  
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

img {
    width: 250px;
    height: 450px;
    padding-left: 10px;
    margin-top: 100px;
}

#content {
    min-width: 800px;
}

#mainWord{
    text-align: center;
    margin: 25px;            
    font: 400 58px Daddy in space DEMO, sans-serif;   
}

h2 {
    font: 20px EngraversGothic BT, sans-serif;
    height:fit-content;
}

h3 {
    font: 23px EngraversGothic BT, sans-serif;
    margin-bottom: 50px;   
    margin-top: 5px; 
    color: black;
    font-weight: bolder;
   
}

#players {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 5px;   
}

button.fat {
    text-align: center;
    font-size: 22px;
    margin-top: 7px;   
}

#container {
    text-align: center;
    background-color: #262626;
    padding: 0 50 0 50px; /*espaço em relação ao item de cima */   
    width:  fit-content;
    min-width: 350px;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 50px;
    border: inset 5px;
    border-color: rgb(102, 99, 96);    
}

#containerFlex {
    text-align: center;
    background-color: #262626;

    align-content: center;
    width:  fit-content;  
    height: fit-content;
    margin: auto;
    
    border-radius: 100px;
    
    border: inset 5px;
    border-color: rgb(102, 99, 96);
    display: flex; 
}

#containerPlayer {
    background-color: #414040;

    width:  fit-content;  
    height: fit-content;

    border-radius: 50px;  
    display: inherit;

    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
    margin-left: 10px;
  
}

#container2{
    text-align: center;
    background-color: #262626;
    padding: 0 20 0 20px; /*espaço em relação ao item de cima */   
    width:  fit-content;
    min-width: 250;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 0px;
  
}

#time {
    font-size: 45px;  
    font: Courier New;
    margin-top: 0px;
    margin-bottom: 10px;
}

button {
    border: none;
    background: none;
    color: rgb(253, 148, 0); /*#F39931; */
    font: 400 28px EngraversGothic BT, sans-serif;
    margin-top: 0px;
    cursor: pointer;
    padding-bottom: 10px;
    width: fit-content;
    outline: none;   
    margin-right: 10px;
    transition: 200ms;
    font-weight: bolder;
} 

button:hover {
    color: rgb(255, 255, 255);
}

#p2 {
    font-size: 20px;
    cursor: pointer; 
    width: fit-content;
    height: fit-content;
    outline: none;   
    padding-bottom: 10px;
    margin: 2px;
} 

#p3 {
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 18px;


    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 0px;
    
    cursor: pointer;
    width: fit-content;
    outline: none;   
   

}

#p4 {
    font-size: 20px;
    cursor: pointer; 
    width: fit-content;
    height: fit-content;
    outline: none;   
    padding-bottom: 0px;
    margin: 2px;
} 
    
.ChangeColor{
    color: #7c7c7c
 }

.hide {
   display: none;
}



